<section id="articles">
  <div class="container articles-container">
    <h3>{{ site.articles_title | default: "Articles" }}</h3>
    <div id="retainable-rss-embed"
    data-rss="https://medium.com/feed/@cheukting.ho"
    data-maxcols="3"
    data-layout="grid"
    data-poststyle="inline"
    data-readmore=""
    data-buttonclass="btn-blog"
    data-offset="-100"></div>
    {% comment %}
    {% for experience in site.data.articles %}
      {% include {{ experience.layout | default: 'left' | append: ".html" }} item=experience %}
    {% endfor %}
    <p class="more-link"><a href="https://medium.com/@cheukting.ho" target="_blank">See all articles</a>
  </p>
  {% endcomment %}
</section>
