{% include scripts.html %}

<!-- Posts -->
{% if paginator.next_page %}
<script>
  var maxPages = parseInt('{{ paginator.total_pages }}');
  {% if site.page_gen[0]['paginate'] > 0 %}
  var maxVideoPages = parseInt("{{ site.data.videos.size | times: 1.0 | divided_by: site.page_gen[0]['paginate'] | ceil }}");
  {% else %}
  var maxVideoPages = 0;
  {% endif %}
  console.log(maxVideoPages)
</script>
{% endif %}

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>

<script src="/js/webmention.js"></script>
