<section id="articles">
    <div class="posts container articles-container">
      <h3>{{ site.videos_title | default: "Videos" }}</h3>
      <div class="grid-xlarge">
        <div class="posts__container" itemscope itemtype="http://schema.org/Blog" data-columns>

          {% for video in site.data.videos %}

            <!-- The tag below includes the markup for each post - partials/post-card.html -->
            {% include video-card.html %}

          {% endfor %}
        </div>
      </div>


    </div>
</section>
