<article class="videos__post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
  <a class="videos__link h-entry" href="/videos/{{ video.vid | downcase }}" itemprop="url">
      <figure class="videos__img u-photo">
        <img src="http://img.youtube.com/vi/{{ video.vid }}/0.jpg" alt="{{ video.title }}" data-aos="fade-in" itemprop="image"/>
      </figure>
    <div>
      <h2 class="videos__text e-content"><strong itemprop="name">{{ video.title }}</strong> — <span itemprop="description">{{ video.description | strip_html | truncatewords: 30 }}</span></h2>
    </div>
  </a>
</article>
