<section id="videos">
    <div class="videos container articles-container">
      <h3>{{ site.videos_title | default: "Videos" }}</h3>
      <div class="grid-xlarge">
        <div class="videos__container" itemscope itemtype="http://schema.org/Blog" data-columns>
          {% if site.page_gen[0]['paginate'] > 0 %}
          {% assign video_limit = site.page_gen[0]['paginate'] %}
          {% else %}
          {% assign video_limit =  site.data.videos.size %}
          {% endif %}
          {% for video in site.data.videos | limit: video_limit %}

            <!-- The tag below includes the markup for each post - partials/post-card.html -->
            {% include video-card.html %}

          {% endfor %}
        </div>
      </div>

      {% include pagination-videos.html %}
    </div>
</section>
