@import "config";
@import "mixins-grid";
@import "extends";
@import "extends-type";
@import "helpers-grid";
@import "base";
@import "button";
@import "type";
@import "lists";
@import "media";
@import "post";
@import "posts";
@import "related";
@import "animations-keyframes";
@import "page-transitions";


ul.icons a:hover {
  background: rgba(0, 0, 0, 0.025);
}

ul.icons li {
  display: inline-block;
  padding-left: 0.75em;
}

ul.icons a {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-block;
  width: 2.75em;
  height: 2.75em;
  line-height: 2.8em;
  text-align: center;
  border: 0;
  box-shadow: none;
  padding:0;
  border-radius: 100%;
  color: #aaa;
}

.icons i {
  font-size: 30px;
  line-height:60px;
}

.icons {
  padding: 0;
  font-size: 1em;
  margin-bottom:20px;
  text-align: right;
}

.header-contianer div{
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .icons {
    text-align: center;
  }
}

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 768px) {
  .header-contianer div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

.profile-img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

.into-text-1 {
  margin-top: 30px;
}

@media only screen and (max-width : 992px) {
  .into-text-1 {
    margin-top: 20px;
  }
}


.projects-container, .experience-container, .education-container,
 .meetups-container, .articles-container {

  .row{
         margin-top: 30px;
         font-size: 1.2em;
      p{
         font-size: 1.2em;
      }
     }
  .btn-blog{
      display: none;
  }

  .more-link{

    margin-top: 30px;
    text-align: center;

    a {
      color: #BBBBBB;
      text-decoration: underline;
    }

    a:hover {
      color: #4C4C4C;
    }
}

  h3 {
    margin-bottom: 0;
  }
  .logo-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.layout {
  margin-top: 3em;

  .details {
    text-align: left;

    p {
      margin-bottom: 3px;
      font-size: 1.6em;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 768px) {
      text-align: center;

      p {
        text-align: center;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2em;
    }

    .link {
      font-size: 1.5em;
    }

    h4 {
      margin-bottom: 0.1em;
      font-weight: 500;

      @media print {
        margin-bottom: 0.2em;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-right, .layout-top-right {
  .details {
    text-align: right;
  }
}

.layout-top-middle {
  .details {
    text-align: center;
  }
}

.layout-inline-logo {
  float:left;
  margin: 10px;
  width: 250px;
  .details p {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
  img {
    max-width: 200px;
    max-height: 120px;
  }
  .small-name{
    font-size: 0.8em;
  }
}

.layout-top-middle-link {
  .details {
    text-align: center;
    .link {
      font-size: 1em;
    }
  }
}

.footer-container {
  margin-top:100px;
}

.footer-container p{
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer-container a{
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.page-content {
    padding: {
      right: 2em;
      left: 2em;
    }
  font-size: 1em;

  a {
    color: inherit;
    text-decoration: underline;
  }

  a:hover {
    color: #4C4C4C;
  }

}

.contact a {
  line-height: 50px;
  margin-left: 30px;
  color: #BBBBBB;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.contact a:hover {
  color: #4C4C4C;
}

p.quote {
  font-size: 1.6em;
  //font-style: italic;
  padding: 1em 2.5em;
  text-align: center;

  @media print {
    text-align: left;
    padding: 0em 1em;
    margin-top: 1em;
  }
}
