#markdown ul {
  padding-left: 25px;
}


#markdown li {
  font-size: 1.8rem;
}

#markdown .btn-new, .btn-new {
    font-weight: 500;
    transition:  all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    color: #fff !important;
    background-color: #ab3b46;
    text-decoration: none;
    border-width: 0;
    border-radius: 4px;
    padding-top: 0.3em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    &:hover, &:focus, &:active, &.active {
      outline: none;
      color: #fff;
      background: #666;
}
}
