---
layout: default
---
<body id="page-top">
  {%- include nav.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include about.html -%}

      {%- if site.data.projects.size > 0 -%}
        {%- include projects.html -%}
      {%- endif -%}

      {%- if site.posts.size > 0 -%}
        {%- include posts.html -%}
      {%- endif -%}

      {%- if site.data.meetups.size > 0 -%}
        {%- include meetups.html -%}
      {%- endif -%}

      {%- if site.data.videos.size > 0 -%}
        {%- include videos.html -%}
      {%- endif -%}

      {%- if site.data.workshops.size > 0 -%}
        {%- include workshops.html -%}
      {%- endif -%}

      {%- if site.more_content -%}
        {%- include more.html -%}
      {%- endif -%}

    </div>
</main>

{%- include footer.html -%}
{% include post-scripts.html %}
</body>
