---
layout: default
---
<body id="page-top">
  {%- include post-nav.html -%}
  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
<div class="post container intro-container">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="h-entry">
    <div class="post__header section-padding">
      <div class="grid-large">
        <h2 itemprop="name headline" class="p-name">{{ page.title }}</h2>

        <time class="post__date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

    {% if page.vid %}
    <div class="post__header" style="text-align: center; background-color: #000;">
      <div class="ytcontainer">
        <iframe class="yt" src="https://www.youtube.com/embed/{{ page.vid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    {% endif %}

    <div class="post__img u-photo" style="display: none;">
      <div>
        <figure class="absolute-bg" style="background-image: url('http://img.youtube.com/vi/{{ page.vid }}/0.jpg');"></figure>
      </div>
    </div>

    <div class="post__content section-padding">
      <div class="grid-large">
        <div id="markdown" itemprop="articleBody" class="e-content">
            {% if page.description %}
            <p>{{ page.description | strip | markdownify }}</p>
            {% endif %}
            <p>See more of my talks on <a href="https://www.youtube.com/results?search_query=cheuk+ting+ho" target="_blank">YouTube</a>.</p>
        </div>


        {% include share_video.html %}
      </div>
    </div>

    <div class="grid">
      {% include webmention.html %}
    </div>

    <!-- Everything inside the #author tags pulls data from the author -->
    {% if page.author %}
      <div class="section-padding--none">
        <div class="grid">
          <hr class="sep"/>
        </div>
      </div>

      <div class="section-padding">
        <div class="grid p-author h-card">
          {% for author in page.author %}
            {% assign authorDetails = site.author | where: "name", author %}
            {% if forloop.first == true %}
              <span class="post__author">About
            {% else %}
              <span class="post__author">&amp;
            {% endif %}
            {% if authorDetails[0]["url"] %}<a href="{{ authorDetails[0]['url'] }}" title="More By {{ author }}" class="p-name u-url">{% endif %}{{ author }}{% if authorDetails[0]["url"] %}</a>{% endif %}</span>
            <p class="post__bio p-note">{{ authorDetails[0]["bio"] }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% include disqus.html %}

  </article>
</div>

<!-- Links to Previous/Next posts -->
{% assign relatedCount = 0 %}
{% if page.tags.size > 0 %}
  <section class="related section-padding">
    <div class="grid-xlarge">
      <h2 class="related__title">Related</h2>
      <div class="related__container">
      {% for relatedTag in page.tags %}
        {% for video in site.data.videos %}
          {% if video.title !=  page.title %}
            {% for vTag in video.tags %}
              {% if vTag == relatedTag %}
                <article class="related__post">
                  <a class="related__link" href="{{ post.url | absolute_url }}">
                    <figure class="related__img">
                      <img src="http://img.youtube.com/vi/{{ video.vid }}/0.jpg" alt="{{ video.title }}"/>
                    </figure>
                    <div>
                      <h2 class="related__text">{{ video.title }}</h2>
                    </div>
                  </a>
                </article>
              {% assign relatedCount = relatedCount | plus: 1 %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if relatedCount == 3 %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if relatedCount == 3 %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% if relatedCount == 0 %}
      <div class="related__text">There are no related posts.</div>
      {% endif %}
      </div>
    </div>
  </section>
{% endif %}
</main>

{%- include footer.html -%}

{% include post-scripts.html %}
</body>
